extends layout
block title
  | Login
block content
  .hero-unit
    h1= heading
    p This content is protected. Please login below
    form.form-horizontal
      fieldset
        legend Login here
        .control-group
          label.control-label(for="inputUsername") Username
          .controls
            input#inputUsername(type="text", placeholder="username")
        .control-group
          label.control-label(for="inputPassword") Password
          .controls
            input(type="password", placeholder="password")
        .control-group
          .controls
            button.btn.btn-primary(type="submit")
              i.icon-lock.icon-white
              |  Go!
              
